@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <a href="~/lib/bootstrap/dist/css/bootstrap.css.map"></a>
    <title>The HourGlass | Find Happy Hours Easily</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>




</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Intro Section -->
    <section class="home-section" style="background-image: url(http://www.outtherecreative.com/wp-content/uploads/2018/03/drinkingbuddies.jpg); background-position: 50% 0px; background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">

        <div class="home-content">
            <div class="home-text white">


                <div class="hero-logo">
                    <img src="http://www.outtherecreative.com/wp-content/uploads/2018/03/TheHappyHour_logo.png" width="auto" height="auto">
                    <h1 class="hero-sub mb-50 mb-xs-30">
                        Happy Hour <span style='color: #b6944c;'>=</span> happy you
                    </h1>

                    <h4 class="hero-title mb-50 mb-xs-30"></h4>

                </div>


            </div>
        </div>
        <!-- Search Bar -->
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Find Your Happy Hour!">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </section>


    <!-- About Section -->
    <section id="portfolio" class="portfolio-section">
        <div class="container-fluid title">
            <center>
                <br />
                <h3 class='white'><span>ABOUT</span></h3>
                <div class="horizontal-gold"></div><br /><br /><br />
            </center>


            <div class="col-xs-12 about-text">
                <span>1</span><p>Search by location: here - there - anywhere</p><span>2</span><p>Search by Category: food - drinks - anything that doesn't stink</p><br />
                <span>3</span><p>never miss a happy hour: happy hour = happy you</p>
                <span>4</span><p>LET'S WORK TOGETHER TO KEEP UP TO DATE</p><br /><br /><br />
            </div>

        </div>
        </div>
        <div class="container-fluid title">
            <center>
                <h3 class='white'><span>SORT BY</span></h3>
                <div class="horizontal-gold"></div><br /><br /><br />


                <br />
                <h3 class='white'>
                    Food
                    <i class="fa fa-times"></i>
                    
                        Drinks
                    </h3>
</div>
        </center>
        <br /><br />

        </ul>
        </div>
        </div>

    </section>



    <!-- Hover Images -->
    <div class='container pt-50 pb-40'>
        <img src="http://www.outtherecreative.com/wp-content/uploads/2018/03/foodburg.jpg" onmouseover="this.src='http://www.outtherecreative.com/wp-content/uploads/2018/03/Food_hover.jpg'" onmouseout="this.src='http://www.outtherecreative.com/wp-content/uploads/2018/03/foodburg.jpg'" />
        <img src="http://www.outtherecreative.com/wp-content/uploads/2018/03/drinks2.jpg" onmouseover="this.src='http://www.outtherecreative.com/wp-content/uploads/2018/03/drinks_hover.jpg'" onmouseout="this.src='http://www.outtherecreative.com/wp-content/uploads/2018/03/drinks2.jpg'" />

    </div>
    <br />



    <!-- Contact -->
    <section id="contact" class="contact-section">
        <div class='container pt-50 pb-40'>


            <div class='col-sm-12'>
                <div class="contact-form" id="contact_form">
                    <form id="form" action="" method="post">
                        <div class='row pt-40'>
                            <div class="col-md-4 col-sm-4 col-xs-12 pb-20">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" required="" class="form-control form-style focus-gold" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 pb-20">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" required="" class="form-control form-style focus-gold" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 pb-20">
                                <div class="form-group">
                                    <input type="text" name="subject" id="subject" required="" class="form-control form-style focus-gold" placeholder="Subject">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control focus-gold" rows="10" name="message" id="message" placeholder="Message"></textarea>
                        </div><!-- /.form-group -->

                        <div class="alert notification padding-0"></div><!-- Contact form notification message will be display here -->

                        <div class="align-center pt-20 pb-10">
                            <button type="submit" id="submit" class="btn btn-mod">
                                SEND MESSAGE
                            </button>
                        </div>
                </div>
                </form>
            </div>
        </div>


        </div>
    </section>



    <!-- inner-section:starts -->
    <footer class="mastfoot footer">
        <div class="container pt-20 pb-50">
            <div class="row">
                <article class="col-md-12 text-center">
                    <a class="page-scroll arrowww" href="#page-top">
                        <i class="fa fa-angle-up fa-4x"></i>

                        <div class="row">
                            <article class="col-md-12 text-center pt-20">
                                <blockquote style='border: none;'>

                                    <footer>The HourGlass &copy; 2018. All Rights Reserved.</></footer>
                            </article>
                        </div>
            </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>


</body>

</html>

